In [2]:
import pandas as pd

sheet_names = ['JAN','FEB','MAR','APR','MAY','JUNE','JULY','AUG','SEP','OCT','NOV','DEC']
columns = ['DATE'
           ,'INT ARRIVALS 04','INT ARRIVALS 22','INT ARRIVALS TTL'
           ,'INT DEPARTURES 04','INT DEPARTURES 22','INT DEPARTURES TTL'
           ,'LOCAL ARRIVALS 04','LOCAL ARRIVALS 22','LOCAL ARRIVALS TTL'
           ,'LOCAL DEPARTURES 04','LOCAL DEPARTURES 22','LOCAL DEPARTURES TTL'
           ,'TRANSITS FXD','TRANSITS HEL','TRANSITS TTL'
           ,'HELI LND','HELI TO','HELI TTL'
           ,'T/G','Grant Total'
           ,'YEAR'
           ,'MONTH']


sheets = []
for y in ([2018,2019]):
    for m in sheet_names:
        twk = pd.read_excel('PAFOS AIRPORT DAILY AIR TRAFFIC '+str(y)+'.xlsx', usecols = 'A:U',skiprows = 3, header=0, sheet_name = m)
        twk['YEAR'] = y
        twk['MONTH'] = m
        twk.columns = columns
        #twk = twk.set_index('DATE')
        sheets.append(twk)

workbook = pd.concat(sheets, axis=0)
workbook

,DATE,INT ARRIVALS 04,INT ARRIVALS 22,INT ARRIVALS TTL,INT DEPARTURES 04,INT DEPARTURES 22,INT DEPARTURES TTL,LOCAL ARRIVALS 04,LOCAL ARRIVALS 22,LOCAL ARRIVALS TTL,...,TRANSITS FXD,TRANSITS HEL,TRANSITS TTL,HELI LND,HELI TO,HELI TTL,T/G,Grant Total,YEAR,MONTH
0,1,1.0,7.0,8,0.0,8.0,8,0.0,0.0,0,...,0.0,0.0,0,0.0,0.0,0,0.0,16,2018,JAN
1,2,1.0,10.0,11,0.0,10.0,10,0.0,2.0,2,...,0.0,0.0,0,0.0,0.0,0,0.0,25,2018,JAN
2,3,11.0,9.0,20,6.0,15.0,21,1.0,0.0,1,...,0.0,0.0,0,5.0,5.0,10,0.0,53,2018,JAN
3,4,1.0,11.0,12,0.0,11.0,11,0.0,0.0,0,...,0.0,0.0,0,2.0,2.0,4,0.0,27,2018,JAN
4,5,1.0,7.0,8,0.0,10.0,10,0.0,1.0,1,...,0.0,0.0,0,0.0,0.0,0,0.0,20,2018,JAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,28,2.0,21.0,23,0.0,23.0,23,0.0,2.0,2,...,2.0,0.0,2,0.0,0.0,0,1.0,53,2019,DEC
28,29,13.0,5.0,18,4.0,14.0,18,0.0,0.0,0,...,0.0,0.0,0,0.0,0.0,0,0.0,36,2019,DEC
29,30,1.0,14.0,15,2.0,10.0,12,0.0,2.0,2,...,0.0,0.0,0,0.0,0.0,0,0.0,31,2019,DEC
30,31,0.0,10.0,10,0.0,14.0,14,0.0,1.0,1,...,0.0,0.0,0,3.0,3.0,6,0.0,32,2019,DEC
31,TTL,137.0,371.0,508,95.0,415.0,510,4.0,34.0,38,...,15.0,3.0,18,105.0,105.0,210,25.0,1347,2019,DEC

In [3]:
workbook = workbook.copy()
workbook = workbook.loc[workbook['DATE'] != 'TTL']
workbook['DATE_FORMAT'] = (workbook['DATE'].astype(str) + '-' + workbook['MONTH'].astype(str) + '-' + workbook['YEAR'].astype(str))
workbook['DATE_FORMAT'] = pd.to_datetime(workbook['DATE_FORMAT'], format='%d-%b-%Y', infer_datetime_format=True, errors='coerce')
workbook = workbook.loc[~workbook['DATE_FORMAT'].isna()]
workbook = workbook.set_index('DATE_FORMAT')

In [7]:
workbook.to_csv('PAFOS AIRPORT DAILY AIR TRAFFIC_2018-2019.csv', header=True)
workbook['Grant Total'].to_csv('PAFOS AIRPORT DAILY AIR TRAFFIC_2018-2019 TOTAL.csv', header=True)

In [9]:
workbook['Grant Total'].

DATE_FORMAT
2018-01-01    16
2018-01-02    25
2018-01-03    53
2018-01-04    27
2018-01-05    20
              ..
2019-12-27    33
2019-12-28    53
2019-12-29    36
2019-12-30    31
2019-12-31    32
Name: Grant Total, Length: 608, dtype: int64